* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: poppins;
    
}

html {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    scroll-behavior: smooth;
}

body {
    background: white;
    
}

header {
    width: 100%;
    height: 80px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
    padding-top: 2px;
}

.login {
    padding-left: 20px;
}

.container {
    display: grid;
    grid-template-columns: 50% 50%;
    border-radius: 10px;
    overflow: hidden;
}

.login-left {
    display: flex;
    flex-direction: column;
    justify-content: content;
    padding-top: 100px;
    padding-left: 690px;
    background-color: white;
}

.login-right {
    display: flex;
    justify-content: center;
}

.login-right img {
    width: 100%;
}

.login-header {
    margin-top: 50px;
    
}

.login-header h1 {
    font-size: 45px;
    font-weight: 700;
}

.login-header p {
    margin-top: 20px;
    opacity: .7;
}

.login-form {
    width: 450px;
    margin-top: 50px;
}

.login-content {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

input[type='email'],
input[type='password'] {
    border: 1px solid black;
    height: 55px;
    padding: 0 2rem;
    width: 100%;
    outline: none;
    transition: background .5s;
    font-size: 18px;
    border-radius: 100px;
}

.pass-key {
    border: 1px solid black;
    height: 55px;
    padding: 0 2rem;
    width: 100%;
    outline: none;
    transition: background .5s;
    font-size: 18px;
    border-radius: 100px;
}

.show {
    display: block;
    position: absolute;
    margin-left: 380px;
    bottom: 250px;
    font-size: 15px;
    color: black;
    cursor: pointer;
}

label[for=email],
label[for=password],
label[for=text] {
    font-size: 1.1rem;
    padding-left: 20px;
    font-weight: 4600;
    ;
}

.checkbox {
    display: flex;
    align-items: center;
    gap: 7px;
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
    accent-color: black;
}

button {
    border: none;
    background-color: rgb(31, 92, 226);
    padding: 1rem;
    height: 55px;
    font-size: 18px;
    border-radius: 100px;
    text-transform: uppercase;
    cursor: pointer;
    margin-bottom: 30px;
    transition: .5s;
}

button:hover {
    background: black;
    color: white;
}